.header-wrapper {
  background-color: #3f51b5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .app-title {
    color: white;
    font-size: 2em;
    padding-left: 10px;

    h2 {
      margin: 8px 8px 8px 0;
    }
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    flex: 1;

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      ul li {
        display: inline-block;
        padding: 15px 15px;

        a {
          color: #fff;
          text-decoration: none;
          display: inline-block;
          padding: 10px 0 4px 0;
          position: relative;

          &.active-link:before {
            content: "";
            background: #fff;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 100%;
            position: absolute;
          }
        }

        a:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 3px;
          left: 50%;
          position: absolute;
          background: #fff;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }

        a:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  @media screen and (max-width:599px) {
    .nav-container {
      display: block;

      .nav {
        display: inherit;

        ul li {
          display: inherit;
          padding-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .header-wrapper {
    display: block;

    h2 {
      text-align: left;
    }
  }
}
