.side-nav {
  height: 100%;
  background-color: #cfcde6;

  ul li {
    border-bottom: 1px silver solid;

    a {
      font-family: 'Roboto', 'Helvetica Neue', sans-serif;
      display: block;
      padding: 8px 8px;
      font-size: 0.9em;
      text-decoration: none;
      cursor: pointer;
      color: black;
    }
  }
}
