.add-guest-form {
  padding: 15px;

  .add-guest-form-title {
    margin: 0 0 10px 0;
  }

  .popup-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-ctrl {
      box-sizing: border-box;
      width: 45%;

      .form-element {
        flex: 0 1 calc(33.3% - 32px);
        width: 100%;
        margin-bottom: 15px;
      }
    }

    @media screen and (max-width: 999px) {
      .form-ctrl {
        width: 100%;

        .form-element {
          margin-bottom: 5px;
        }
      }
    }
  }

  .gender {
    border: none;
    margin: 20px 0 0 -2px;
    padding: 10px 0 0 0;

    legend {
      margin: 5px 0 5px 0;
    }

    label {
      display: inline-block;
    }
  }

  @media screen and (max-width: 999px) {
    .gender {
      margin-bottom: 5px;

      h5 {
        display: inline-block;
      }
    }
  }

  .add-guest-action-container {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 5px 16px;
      cursor: pointer;
    }
  }
}
