<div class="wrapper">
  <div class="header-wrapper">
    <header class="app-title">
      <h3>Hotel</h3>
    </header>
    <nav class="nav">
      <ul>
        <li>
          <a href="#">Concat us</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Help</a>
        </li>
      </ul>
    </nav>
  </div>

  <main class="main-container">
    <aside class="left-pane">
      <nav class="side-nav">
        <ul>
          <li>
            <a href="#">Book a reservation</a>
          </li>
          <li>
            <a href="#">My reservation</a>
          </li>
        </ul>
      </nav>

    </aside>
    <section class="content">

    </section>
  </main>
</div>
