.card {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  padding: 0;
  max-width: 845px;
  width: 60%;
  margin: auto;

  .wrapper {
    .main-container {
      width: 100%;

      .content {
        padding: 10px;
        min-height: 480px;
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .card {
    width: 100%;
  }
}
