.card {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  padding: 0;
  width: 80%;
  margin: auto;

  .wrapper {
    .main-container {
      width: 100%;
      display: flex;
      flex-direction: row;

      .left-pane {
        width: 20%;
      }

      .content {
        width: 80%;
        padding: 10px;
        min-height: 480px;
      }
    }
  }
}

@media screen and (max-width: 999px) {
  .card {
    width: 100%;
  }
}
