<section class="my-bookings">
  <h4>My Bookings</h4>
  <ul class="bookings-container">
    <li *ngFor="let booking of bookings" tabindex="0">
      <div class="card">
        <div class="form-ctrl">
          <div class="details">
            <h5 tabindex="0">{{ booking.hotelName }}</h5>
            <h5 tabindex="0">{{ booking.guests }} guest(s)</h5>
          </div>

          <div class="location">
            <label tabindex="0">Location : {{ booking.location }}</label>
          </div>

          <div class="other-details-ctrl">
            <div class="checkin-container">
              <label tabindex="0">
                Check in :
                <time [datetime]="booking.chekinTime">{{
                  booking.chekinTime
                }}</time>
              </label>
            </div>

            <div class="checkout-container">
              <label tabindex="0">
                Check out :
                <time [datetime]="booking.chekoutTime">{{
                  booking.chekoutTime
                }}</time>
              </label>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
