<section class="my-bookings">
  <h4>My Bookings</h4>
  <ul class="bookings-container" *ngIf="bookings?.length; else noBookings">
    <li *ngFor="let booking of bookings" tabindex="0">
      <div class="card">
        <div class="form-ctrl">
          <div class="details">
            <h5 tabindex="0">
              {{ booking.guest[0].firstName }} {{ booking.guest[0].lastName }}
            </h5>
            <h5 tabindex="0">{{ booking.checkIn.numberOfPersons }} guest(s)</h5>
          </div>

          <div class="room">
            <label tabindex="0">Room : {{ booking.checkIn.roomType }}</label>
          </div>

          <div class="other-details-ctrl">
            <div class="checkin-container">
              <label tabindex="0">
                Check in :
                <time [datetime]="booking.checkIn.checkIn">{{
                  booking.checkIn.checkIn
                }}</time>
              </label>
            </div>

            <div class="checkout-container">
              <label tabindex="0">
                Check out :
                <time [datetime]="booking.checkIn.checkOut">{{
                  booking.checkIn.checkOut
                }}</time>
              </label>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ng-template #noBookings>
    <div class="empty-bookings">
      <p class="nobookings-mesg">You have no bookings yet.</p>
    </div>
  </ng-template>
</section>
