.my-bookings {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 10px;

  h4 {
    margin: 0 0 10px 0;
  }

  .bookings-container {
    list-style-type: none;

    .card {
      min-width: 300px;
      width: 60%;
      padding: 10px;
      margin-bottom: 10px;
      margin-left: 0;
      cursor: pointer;

      .form-ctrl {
        .details {
          display: flex;
          justify-content: space-between;

          h5 {
            margin-left: 0;
          }
        }

        h5 {
          margin: 5px auto 10px auto;
        }

        label {
          display: inline-block;

          time {
            color: #000;
          }
        }

        .address-ctrl {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;

          #address p {
            margin: 0 0 0 10px;
            font-size: 12px;
          }
        }
      }

      &:hover {
        box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
      }
    }
  }

  .nobookings-mesg {
    font-size: 14px;
  }
}
