.payment-wrapper {
  h5 {
    margin: 0 0 10px 0;
  }

  .payment-options {
    margin-bottom: 15px;

    label {
      display: inline-block;
    }
  }

  .payment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-ctrl {
      box-sizing: border-box;
      width: 45%;

      .card-name,
      .card-number,
      .exp-date,
      .cvv,
      .upi-number {
        flex: 0 1 calc(33.3% - 32px);
        width: 100%;
        margin-bottom: 32px;
      }
    }

    @media screen and (max-width: 599px) {
      .form-ctrl {
        width: 100%;
      }
    }
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .back > button,
  .next > button {
    padding: 5px 30px;
  }
}
