<section class="guests">
  <div class="card">
    <div class="form-ctrl">
      <h5>Sandeep</h5>
      <div class="age-ctrl">
        <label>Age: 29</label> |
        <label>Gender : Male</label>
      </div>

      <div class="address-ctrl">
        <label for="address">Address</label>
        <div id="address">
          <p>
            Flat# 89
            <br />
            Building name
            <br />
            Street name
            <br />
            City
            <br />
            State: Telangana
            <br />
            Pincode: 500050
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="form-ctrl">
      <h5>Abdul</h5>
      <div class="age-ctrl">
        <label>Age: 31</label> |
        <label>Gender : Male</label>
      </div>

      <div class="address-ctrl">
        <label for="address">Address</label>
        <div id="address">
          <p>
            Flat# 89
            <br />
            Building name
            <br />
            Street name
            <br />
            City
            <br />
            State: Telangana
            <br />
            Pincode: 500050
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="add-guest-action">
  <button>Add Guest</button>
</div>
