.guests {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .card {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    .form-ctrl {
      h5 {
        margin: 5px auto;
      }

      label {
        display: inline-block;
      }

      .address-ctrl {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        #address p {
          margin: 0 0 0 10px;
          font-size: 12px;
        }
      }
    }

    &:hover {
      box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
    }
  }
}

.add-guest-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-guest-dialog {
  .add-guest-form {
    padding: 15px;

    .add-guest-form-title {
      margin: 0 0 10px 0;
    }

    .popup-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .form-ctrl {
        box-sizing: border-box;
        width: 45%;

        .form-element {
          flex: 0 1 calc(33.3% - 32px);
          width: 100%;
          margin-bottom: 15px;
        }
      }

      @media screen and (max-width: 999px) {
        .form-ctrl {
          width: 100%;

          .form-element {
            margin-bottom: 5px;
          }
        }
      }
    }

    .gender {
      margin-bottom: 15px;

      h5 {
        margin: 5px 0 5px 0;
      }

      label {
        display: inline-block;
      }
    }

    @media screen and (max-width: 999px) {
      .gender {
        margin-bottom: 5px;

        h5 {
          display: inline-block;
        }
      }
    }

    .add-guest-action-container {
      display: flex;
      justify-content: flex-end;

      button {
        padding: 5px 16px;
        cursor: pointer;
      }
    }
  }
}
