.guests {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .card {
    width: 85%;
    min-width: 380px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    .form-ctrl {
      h5 {
        margin: 5px auto;
      }

      label {
        display: inline-block;
      }

      .address-ctrl {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        #address pre {
          margin: 0 0 0 10px;
          font-size: 12px;
          white-space: pre-line;
        }
      }
    }

    &:hover {
      box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
    }
  }

  .no-guests-msg {
    font-size: 0.9em;
  }
}

.add-guest-action {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  button {
    padding: 5px 30px;
  }
}

.buttons-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .back > button,
  .next > button {
    padding: 5px 30px;
  }
}

.empty-guests {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px dotted #3f51b5;
  background-color: #d8e8c042;
  margin: 0 0 30px 0;
  border-radius: 20px;
}
