<section class="guests">
  <div class="card" *ngFor="let guest of guests">
    <div class="form-ctrl">
      <h5>{{ guest.firstName }} {{ guest.lastName }}</h5>
      <div class="age-ctrl">
        <label>Age: {{ guest.age }}</label> |
        <label>Gender : {{ guest.gender }}</label>
      </div>

      <div class="address-ctrl">
        <label for="address">Address</label>
        <div id="address">
          <pre>
           {{ guest.address }}
          </pre>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-guests" *ngIf="guests.length <= 0">
    <p class="add-guest-msg" tabindex="0">Add atlest one guest to proceed</p>
  </div>
</section>
<div class="add-guest-action">
  <button (click)="popUp.openModal($event)">Add Guest</button>
</div>

<div class="buttons-container">
  <div class="inline-control back">
    <button (click)="goback()">Back</button>
  </div>
  <div class="inline-control next">
    <button (click)="saveGuest()">Next</button>
  </div>
</div>

<app-popup #popUp class="add-guest-dialog">
  <app-add-guest
    [popupComponentRef]="popUp"
    (addGuest)="addGuest($event)"
  ></app-add-guest>
</app-popup>
