.guests {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .card {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;

    .form-ctrl {
      h5 {
        margin: 5px auto;
      }

      label {
        display: inline-block;
      }

      .address-ctrl {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        #address p {
          margin: 0 0 0 10px;
        }
      }
    }
  }
}

.add-guest-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .form-ctrl {
    box-sizing: border-box;
    width: 45%;

    .first-name,
    .last-name,
    .email,
    .phone,
    .age,
    .address {
      flex: 0 1 calc(33.3% - 32px);
      width: 100%;
      margin-bottom: 32px;
    }
  }
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
