<div class="booking-wrapper">
  <header>
    <nav class="booking-nav">
      <ul>
        <li><a routerLink="/room/check-in">You're Stay</a></li>
        <li><a routerLink="/room/personal-info">Guests</a></li>
        <li><a routerLink="/room/payment">Payment</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="form-container">
      <router-outlet></router-outlet>
    </div>
    <section class="actions-container">
      <div class="inline-control submit-form next">
        <button type="button" id="submitBtn">Next</button>
      </div>

      <div class="inline-control submit-form next">
        <button type="button" id="proceedBtn" (click)="popUp.openModal($event)">
          Proceed
        </button>
      </div>
    </section>

    <app-popup #popUp class="booking-confirm-wrapper">
      <div class="booking-confim-container">
        <h4 class="booking-confirm-title">Booking Confirmation</h4>
        <section class="term-n-conditions">
          <h5>Our reception will approve your reservation in few days</h5>
          <span class="terms">
            <span>
              <input type="checkbox" name="terms" id="terms" />
            </span>
            <span>
              <label for="terms"
                >I understand that reservatin will be approved by hotel
                reception
              </label>
            </span>
          </span>
        </section>
        <section class="booking-confirm-actions">
          <div class="inline-control">
            <button type="button" id="cancelBtn">Cancel</button>
          </div>

          <div class="inline-control">
            <button type="button" id="okBtn">ok</button>
          </div>
        </section>
      </div>
    </app-popup>
  </main>
</div>
