.booking-wrapper {
  padding-bottom: 20px;

  .booking-nav {
    ul li {
      display: inline-block;

      a {
        display: block;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        cursor: pointer;
        color: black;
      }
    }
  }

  .form-container {
    padding: 10px;
  }

  .actions-container {
    display: flex;
    justify-content: center;

    .next>button {
      padding: 5px 30px;
    }
  }

}
