.booking-wrapper {
  padding-bottom: 20px;

  .booking-nav {
    ul li {
      display: inline-block;
      padding: 15px 15px;

      a {
        color: #3f51b5;
        text-decoration: none;
        display: inline-block;
        padding: 0 4px 4px 4px;
        position: relative;

        &.active-link:before {
          content: "";
          background: #3f51b5;
          bottom: 0;
          left: 0;
          height: 3px;
          width: 100%;
          position: absolute;
        }
      }

      a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 3px;
        left: 50%;
        position: absolute;
        background: #3f51b5;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      a:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }

  @media screen and (max-width:599px) {
    .booking-nav {
      ul li {
        display: block;
        padding-top: 0;
        padding-left: 0;
      }
    }
  }

  .form-container {
    padding: 10px;
  }
}
