.booking-wrapper {
  padding-bottom: 20px;

  .booking-nav {
    ul li {
      display: inline-block;

      a {
        display: block;
        text-align: center;
        padding: 16px;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
        color: black;
      }
    }
  }

  .form-container {
    padding: 10px;
  }

  .actions-container {
    display: flex;
    justify-content: center;

    .next>button {
      padding: 5px 30px;
    }
  }

  .booking-confirm-wrapper {
    padding: 5px;

    .booking-confim-container {
      .booking-confirm-title {
        margin: 0;
        background-color: #b5b0b0;
        padding: 10px;
      }

      .term-n-conditions {
        padding: 40px 20px 10px 20px;

        h5 {
          margin: 0 0 15px 0;
        }

        span {
          display: inline-block;
        }
      }

      .booking-confirm-actions {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
      }
    }
  }
}
