<div class="booking-wrapper">
  <header>
    <nav class="booking-nav">
      <ul>
        <li>
          <a routerLink="/room/check-in" routerLinkActive="active-link"
            >You're Stay</a
          >
        </li>
        <li>
          <a routerLink="/room/personal-info" routerLinkActive="active-link"
            >Guests</a
          >
        </li>
        <li>
          <a routerLink="/room/payment" routerLinkActive="active-link"
            >Payment</a
          >
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="form-container">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
