<div class="card">
  <form>
    <div class="container your-stay">
      <div class="form-ctrl">
        <div class="inline-control check-in">
          <label for="checkInDate">Check In</label>
          <input type="date" name="checkInDate" id="checkInDate" />
        </div>
      </div>

      <div class="form-ctrl">
        <div class="inline-control check-out">
          <label for="checkOutDate">Check out</label>
          <input type="date" name="checkOutDate" id="checkOutDate" />
        </div>
      </div>

      <div class="form-ctrl">
        <div class="inline-control room-type">
          <label for="roomType">Room type</label>
          <input
            type="text"
            list="roomOptions"
            name="roomType"
            id="roomType"
            placeholder="Select room type"
          />
          <datalist id="roomOptions">
            <option value="2">Standard (2x)</option>
            <option value="3">Deluxe (3X)</option>
            <option value="4">Suite (4X)</option>
          </datalist>
        </div>
      </div>

      <div class="form-ctrl">
        <div class="inline-control person">
          <label for="person">Person</label>
          <input
            type="text"
            list="personOptions"
            name="person"
            id="person"
            placeholder="Select number of persons"
          />
          <datalist id="personOptions">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </datalist>
        </div>
      </div>
    </div>

    <div class="food-service-form-ctrl">
      <h3>Food service</h3>
      <div class="food-service-ctrl-wrapper">
        <span class="food-item">
          <span>
            <input type="checkbox" name="breakfast" id="chbxBreakfast" />
          </span>
          <span>
            <label for="breakfast">Breakfast</label>
          </span>
        </span>

        <span class="food-item">
          <span>
            <input type="checkbox" name="lunch" id="chbxLunch" />
          </span>
          <span>
            <label for="lunch">Lunch</label>
          </span>
        </span>

        <span class="food-item">
          <span>
            <input type="checkbox" name="dinner" id="chbxDinner" />
          </span>
          <span>
            <label for="dinner">Dinner</label>
          </span>
        </span>
      </div>
    </div>
  </form>
</div>
